{% extends "base.html" %}
{% block title %}LIRC Remote Control{% endblock %}
{% block page_header %}
	{{ super() }}
	<a href="{{ url_for('options') }}" data-icon="back" class="ui-btn-left">Options</a>
{% endblock %}
{% block page_content %}
<form action="{{ url_for('save_device_names') }}" method="post">
	{% for dev in devices.values() %}
		<div data-role="fieldcontain">
			<label for="textinput-fc">{{ dev.dev_id }}:</label>
			<input name="{{ dev.dev_id }}_name" id="textinput-fc" value="{{ dev.name }}" type="text">
		</div>
	{% endfor %}
	<input data-icon="check" value="Save" type="submit">
</form>
{% endblock %}
