{% extends "base_options_button_top.html" %}
{% block title %}{{ dev.name }}{% endblock %}
{% block page_header %}
	{{ super() }}
	<a href="{{ url_for('list_devices') }}" data-icon="back" class="ui-btn-left">All devices</a>
{% endblock %}
{% block page_content %}
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search commands..." data-inset="true">
		{% for cmd in commands %}
			<li><a class="sendcommand" href="{{ url_for('exec_command', dev_id=dev.dev_id,cmd_id=cmd.cmd_id) }}" data-rel="dialog">{{ cmd.name }}</a></li>
		{% endfor %}
		</ul>
{% endblock %}
